:root {
    --line-width: 6px;
    --event-margin: 20px;
    --event-color: #fff;
    --timeline-color: #19618D;
    --icon-width: 50px;
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

.container {
    background-color: #9F9F9F;
    display: block;
    position: relative;
    content: '';
}

.timeline-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.event-row {
    display: flex;
}

.event {
    position: relative;
    background-color: var(--event-color);
    height: 100%;
    width: 40%;
    margin: var(--event-margin);
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px #555;
    transition: 0.7s;
}

.event > img {
    position: relative;
    width: 100%;
    height: 150px;
    object-fit: none;
}

.event > time {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FF374F;
    padding: 10px;
}

.event > h2 {
    position: relative;
    top: -35px;
    left: 10px;
    color: rgb(255, 255, 255);
}

.event > p {
    position: relative;
    margin-top: -20px;
    margin-bottom: 15px;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 3.5rem;
}

.event.expand {
    height: fit-content;
}

.expand > p {
    -webkit-box-orient: vertical;
    display: block;
    white-space: normal;
    height: fit-content;
}

.event:hover {
    box-shadow: 0 0 10px 5px #00f;
}

button {
    position: relative;
    left: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 70px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    background-color: var(--timeline-color);
    box-shadow: 0 1px 2px 1px #666;
}

button:hover {
    background-color: #347aa5;
}

button:active {
    background-color: var(--timeline-color);
}

.event-row:nth-child(even) {
    justify-content: flex-end;
}

.event-row:nth-child(odd)::after {
    position: relative;
    margin-top: calc(var(--event-margin) * 3);;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 16px solid var(--event-color);
    border-bottom: 10px solid transparent;
    margin-left: calc(var(--event-margin) * -1);
}

.event-row:nth-child(even)::before {
    position: relative;
    margin-top: calc(var(--event-margin) * 3);;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 16px solid var(--event-color);
    border-bottom: 10px solid transparent;
    margin-right: calc(var(--event-margin) * -1);
    z-index: 1;
}

.vertical-line > * {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    width: 10px;
    border-left: 10px solid var(--timeline-color);
}

.icon-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--timeline-color);
    width: var(--icon-width);
    height: var(--icon-width);
    border-radius: 30%;
    margin-bottom: 200px;
}

.icon > img {
    position: absolute;
    width: calc(var(--icon-width) / 2);
    filter: invert();
}

@media (max-width: 700px) {
    .event {
        width: 75%;
    }

    .vertical-line > * {
        left: 90%;
    }
    
    .event-row:nth-child(even) {
        justify-content: flex-start;
    }
    
    .event-row:nth-child(even)::after {
        position: relative;
        margin-top: calc(var(--event-margin) * 3);;
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 16px solid var(--event-color);
        border-bottom: 10px solid transparent;
        margin-left: calc(var(--event-margin) * -1);
    }

    .event-row:nth-child(even)::before {
        display: none;
    }

}

.slide-left {
    animation: slide-left 1s;
}

.event-row > .slide-left::before {
    animation: slide-left 1s;
}

.slide-right {
    animation: slide-right 1s;
}



@keyframes slide-left {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}