:root {
    --line-width: 6px;
    --event-margin: 20px;
    --event-color: #fff;
    --timeline-color: #19618D;
    --icon-width: 50px;
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

.container {
    background-color: #aaa;
    display: block;
    position: relative;
    content: '';
}

.timeline-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.event-row {
    display: flex;
}

.event {
    position: relative;
    background-color: var(--event-color);
    height: 300px;
    width: 40%;
    margin: var(--event-margin);
    border-radius: 5px;
}

.event-row:nth-child(even) {
    justify-content: flex-end;
}

.event-row:nth-child(odd)::after {
    position: relative;
    margin-top: calc(var(--event-margin) * 3);;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid var(--event-color);
    border-bottom: 10px solid transparent;
    margin-left: calc(var(--event-margin) * -1);
}

.event-row:nth-child(even)::before {
    position: relative;
    margin-top: calc(var(--event-margin) * 3);;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid var(--event-color);
    border-bottom: 10px solid transparent;
    margin-right: calc(var(--event-margin) * -1);
}

.vertical-line > * {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    width: 10px;
    border-left: 10px solid var(--timeline-color);
}

.icon-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--timeline-color);
    width: var(--icon-width);
    height: var(--icon-width);
    border-radius: 30%;
    margin-bottom: 200px;
}

.icon > img {
    position: absolute;
    width: calc(var(--icon-width) / 2);
    filter: invert();
}

@media (max-width: 650px) {
    .event {
        width: 75%;
    }

    .vertical-line > * {
        left: 90%;
    }
    
    .event-row:nth-child(even) {
        justify-content: flex-start;
    }
    
    .event-row:nth-child(even)::after {
        position: relative;
        margin-top: calc(var(--event-margin) * 3);;
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid var(--event-color);
        border-bottom: 10px solid transparent;
        margin-left: calc(var(--event-margin) * -1);
    }

    .event-row:nth-child(even)::before {
        display: none;
    }

}