*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

.container {
    background-color: #aaa;
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    content: '';
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: 0 auto;
    border: 2px solid black;
    width: 50%;
    height: 100vh;
}

.event-row {
    display: flex;
    justify-content: flex-start;
}

.event {
    position: relative;
    background-color: red;
    height: 100px;
    width: 45%;
    margin: 20px;
    border: 1px solid black;
}

.event-row:nth-child(even) {
    justify-content: flex-end;
}